body { 
    padding-bottom: 0px;

} 

body{
    padding-top: 0px;
    background-color:#FCFFF6;
} 



#navbar{
    position: fixed;
    top: 0px;
}
#row { 
       padding-bottom:  100px;
}


#photo{
    padding-bottom: 300px;
}